header{
    background-color: #2e3a46;
}

header img{
    width: 50px;
}

main{
    background-color: #1e2d3b;
    height: 900px;
}

main .container{
    max-width: 1000px;
}

.album-card{
    background-color: #2e3a46;
    height: 320px;
}

.album-card .image-container{
    padding: 10px;
    margin-top: 10px;
}

.album-card .image-container img{
    width: 100%;
}

.album-card .title{
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 22px;
}

.album-card .author,
    .year{
        color: #6c7675;
}